<div ng-controller="playerCtrl">

<h2 class="test-center">Viewing a Player</h2>

<table class="table">
	<tr>
		<th>Name</th>
		<th>Franchise</th>
	</tr>
	<tr ng-repeat="player in players">
		<td>{{player.name}}</td>
		<td>{{player.franchise}}</td>
		<td><a href="#/details/hello!"><button>Details</button></a></td>
	</tr>
</table>
</div>